body {
  font-family: "Alexandria", sans-serif;
  font-weight: 300;
  max-width: 200vw;
  background-color: grey;
}
.DBD_Logo {
  height: 20%;
  width: 20%;
  margin-left: 50px;
  padding-top: 30px;
}

h2 {
  font-weight: 500;
}

.AU {
  font-family: "Zen Dots", cursive;
  font-size: 3rem;
}

/* Burger menu*/
/*
.menu {
  background-color: #464646;
  display: flex;
  flex-direction: collumn;
  font-size: 1.5rem;
  left: 0;
  height: 100vh;
  position: fixed;
  width: 240px;
  padding-top: 30px;
}

main {
  background-color: #2a2a2a;
  height: 100vh;
  position: relative;
  transition: transform 0.5s ease-in;
  z-index: 1;
}
main.open {
  transform: translate(240px, 0px);
}

.toggle-nav {
  color: #ffffff;
  padding-top: 30px;
  padding-left: 40px;
  position: fixed;
  text-decoration: none;
  font-size: 20px;
}

.toggle-nav img {
  margin: 2px 10px 0 0;
  vertical-align: top;
}

#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
  width: 24px;
  height: 4px;
  background-color: #f1f1f1;
  margin: 5px 0;
  transition: 0.4s;
}

#menu-burger.clicked .bar1 {
  -webkit-transform: rotate(-45deg) translate(0px, 13px);
  transform: rotate(-45deg) translate(-7px, 3px);
}

#menu-burger.clicked .bar2 {
  opacity: 0;
}

#menu-burger.clicked .bar3 {
  -webkit-transform: rotate(45deg) translate(0px, -13px);
  transform: rotate(45deg) translate(-9px, -6px);
}

#menu-burger {
  padding-top: 30px;
  padding-left: 40px;
}
/* burger menu fin*/
a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  display: inline-block;
  font-weight: 600;
  padding: 20px;
}
.Play_Watch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 280px;
}

.flèches {
  display: flex;
  justify-content: space-between;
  padding-top: 400px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.Slider {
  height: 1120px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.Boutons {
  display: inline-block;
}

.Boutons_1 {
  font-weight: 700;
}

.Boutons_1_Survive {
  background-image: url(Images/Healthy.png);
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 50%;
  color: white;
  margin: 40px;
  background-color: rgb(124, 199, 245);
  border-radius: 10px;
  padding: 40px;
  padding-left: 130px;
}

.Boutons_1_Kill {
  background-image: url(Images/Healthy.png);
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 50%;
  background-color: rgb(254, 62, 62);
  border-radius: 10px;
  padding: 40px;
  padding-left: 130px;
}
.Personnage {
  background: linear-gradient(#a51614, rgb(27, 27, 59));
}

#Imposter {
  width: 40%;
  height: auto;
  margin-right: 50px;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.text {
  background-color: #aa1a18;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem;
  margin: 4rem;
}
.text-map {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.Pouvoir {
  background: linear-gradient(rgb(27, 27, 59), #a51614);
  padding-top: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#Pouvoir_logo {
  width: 250px;
  height: 250px;
  margin: 4rem;
}

.Map {
  background: linear-gradient(rgb(27, 27, 59), grey);
  display: flex;
  justify-content: center;
}

.Polus {
  height: 80vh;
  width: auto;
  display: inline-block;
}

.PC_Console {
  background-color: black;
}

.Img_Con {
  display: inline-block;
  padding: 1rem;
}

.Réseaux {
  background-color: black;
}

.Img_Soc {
  display: inline-block;
  padding: 1rem;
  align-items: center;
}

.Titrage_Footer {
  background-color: white;
  padding-inline: 43rem;
  font-size: 40px;
}

.Alignement_Foot {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}
.Alignement_Desc {
  display: flex;
  justify-content: center;
  width: auto;
}
