body {
  font-family: "Alexandria", sans-serif;
  font-weight: 300;
  max-width: 200vw;
  background-color: grey;
}
.DBD_Logo {
  height: 20%;
  width: 20%;
  margin-left: 50px;
}

h2 {
  font-weight: 500;
}

.AU {
  font-family: "Zen Dots", cursive;
  font-size: 3rem;
}
.menu {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  display: inline-block;
  font-weight: 600;
  padding: 20px;
}

.Boutons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Boutons_1 {
  font-weight: 700;
}

.Boutons_1_Survive {
  background-image: url(Images/Healthy.png);
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 50%;
  color: white;
  margin: 40px;
  background-color: rgb(124, 199, 245);
  border-radius: 10px;
  padding: 40px;
  padding-left: 130px;
}

.Boutons_1_Kill {
  background-image: url(Images/Healthy.png);
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 50%;
  background-color: rgb(254, 62, 62);
  border-radius: 10px;
  padding: 40px;
  padding-left: 130px;
}
.Personnage {
  background: linear-gradient(#a51614, rgb(27, 27, 59));
}

#Imposter {
  width: 40%;
  height: auto;
  margin-right: 50px;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.text {
  background-color: #aa1a18;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem;
  margin: 4rem;
}
.text-map {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.Pouvoir {
  background: linear-gradient(rgb(27, 27, 59), #a51614);
  padding-top: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#Pouvoir_logo {
  width: 250px;
  height: 250px;
  margin: 4rem;
}

.Map {
  background: linear-gradient(rgb(27, 27, 59), grey);
  display: flex;
  justify-content: center;
}

.Polus {
  height: 80vh;
  width: auto;
  display: inline-block;
}

.PC_Console {
  background-color: black;
}

.Img_Con {
  width: 100px;
  height: 100px;
}

.Réseaux {
  background-color: black;
}

.Img_Soc {
  width: 100px;
  height: 100px;
}

.Titrage_Footer {
  background-color: white;
  text-align: center;
  padding: 30px;
  font-size: 40px;
}

.Alignement_Foot {
  display: flex;
  justify-content: center;
}
.Alignement_Desc {
  display: flex;
  justify-content: center;
  width: auto;
}
